
.slide_1{
    max-width: 1285px;
    height: 1100px;
    margin: 0 auto;
}
.header_1{
    height: 82px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-around;
}
.header_1 a{
    text-decoration: none;
}
.navigation_1{
    width: 600px;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    font-family: 'Mohave', sans-serif;
    text-decoration: none;
}
.navigation_1 ul{
    display: contents;
}
.logo_1, .contact_1{
    margin-top: 40px;
}
.contact_1 input{
    margin-left: 20px;
    border: #3751FF;
    border-radius: 15px;
    background-color: #3751FF;
    color: #FFFFFF;
    width: 100px;
    height: 40px;
    font-size: 16px;
}
.main_1{
    width:1285px;
    height: 840px;
    background:linear-gradient(180deg, rgba(242, 249, 255, 0.12) 0%, #F2F9FF 100%);
    position: absolute;
    text-align: center;
}
.main_1 h1{
    font-size: 56px;
    font-family: 'Mohave', sans-serif;
    margin-top:144px;
    color: #1E266D;
}
.main_1 h2{
    font-size: 18px;
    font-family: 'Mohave', sans-serif;
    margin: 30px 0 30px 0;
    color: #455880;
}
.blue{
    width: 150px;
    height: 50px;
    color: #FFFFFF;
    background-color: #3751FF;
    font-family: 'Mohave', sans-serif;
    font-size: 16px;
    border-radius: 30px;
    border: #3751FF;
}
.white{
    width: 200px;
    height: 50px;
    color: #455880;
    background-color: #FFFFFF;
    font-family: 'Mohave', sans-serif;
    font-size: 16px;
    border-radius: 30px;
    border: #FFFFFF;
}
.main_1__img{
    width: 980px;
    height: 585px;
    display: contents;
}
.slide_2{
    max-width: 1285px;
    height: 1100px;
    margin: 0 auto;
}
.logo_2{
    display: flex;
    justify-content: center;
}
.main_2 h1{
    font-size: 48px;
    font-family: 'Mohave', sans-serif;
    margin-top:160px;
    color: #1E266D;
    text-align: center;
}
img[alt="Girl"] {
    position: absolute;
    border: 1px solid black;
    margin-left: 200px;
    z-index: 5;
    margin-top: -120px;
}
img[alt="Back"] {
    position: absolute;
    z-index: 4;
    margin-left: 225px;
    margin-top: 135px;
}
img[alt="square"] {
    position: absolute;
    z-index: 2;
    margin: 350px 0 0 510px;
}
img[alt="black man"] {
    position: absolute;
    z-index: 9;
    margin-top: 340px;
}
img[alt="yellow back"] {
    position: absolute;
    z-index: 6;
    margin-top: 345px;
}
img[alt="Man"] {
    position: absolute;
    z-index: 10;
    margin: 620px 0px 0px 160px;
}
.main_2__content{
    float: left;
}







