@media(max-width:1200px){
    .container, .history_container{
        width: 1170px;
    }
    .header, .main{
        width: 1200px;
    }  
}
@media(max-width:768px){
    .container, .history_container{
        width: 740px;
    }
    .header, .main{
        width: 768px;
    }
    .navigation{
        display: none;
    }
    .header-inner{
        justify-content: space-around;
        margin-top: 20px;
    }
    .main_text_div{
        display: none;
    }
    .main_button{
        width: 250px;
        height: 60px;
        font-size: 24px;
        position: absolute;
        right: 230px;
    }
    .history_items{
        flex-wrap: wrap;
        margin: 20px;
    }
    .history_item{
        margin: 20px;
    }
    .price{
        padding: 0;
    }
    .price_list{
        flex-wrap: wrap;
        margin-left: 120px;
    }
    .price_item{
        border: 8px double #5D4FC7;
        border-radius: 40px 40px 40px 40px;
    }
    .bottom_right{
        display: none;
    }
    .bottom_left{
        width: 100%;
        padding: 50px;
    }
    .bottom_logos{
        width: 340px;
    }
}
@media(max-width:480px){
    .container{
        width: 440px;
    }
    .history_container{
        width: 440px;
    }
    .navigation{
        display: none;
    }
    .header-inner{
        justify-content: space-around;
    }
    .logo img{
        display: none;
    }
    .logo svg{
        display: block;
    }
    .Grid{
        margin-left: -80px;
    }
    .main_tittle_bottom{
        font-size: 32px;
        width: 440px;
        line-height: 50px;
    }
    .main{
        background-image: 
        url('../images/main_dots.png'),
        url('../images/main-bg.png');
        background-position: right top, left 145px bottom 120px;
    }
    .main_icon{
        display: block;
        text-align: center;
        margin:35px;
    }
    .main_text_right, .main_text_div, .main_text_left{
        display: none;
    }
    .main_button{
        width: 170px;
        height: 45px;
        font-size: 20px;
        position: absolute;
        right: 130px;
    }
    .history_items{
        display: none;
    }
    .history_items_small{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .item_tittle{
        margin: 10px 0;
        font-size: 18px;
        line-height: 1px;
        margin: 20px 0;
    }
    .item_text{
        font-size: 15px;
        line-height: 25px;
    }
    .item_button{
        width: 109px;
        padding: 6px 11px;
        border-radius: 8px;
        margin-top: 10px;
        font-size: 13px;
        font-weight: bold;
    }
    .afford{
        display: none;
    }
    .pricing{
        font-size: 32px;
    }
    .price{
        padding: 0;
    }
    .price_tittle{
        font-size: 32px;
        line-height: 10px;
        text-align: center;
        font-weight: 700;
    }
    .price_tittle::first-letter{
        text-transform: uppercase;
    }
    .price_text{
        display: none;
    }
    .price_list{
        flex-wrap: wrap;
        margin: 10px;
    }
    .bottom{
        display: none;
    }
    .footer{
        display: block;
    }
}

@media(max-width:360px){
    body{
        font-family: 'Inter';
        font-style: normal;
        font-size: 18px;
        color: #2D3436;
    }
    .container{
        width: 330px;
        padding: 15px;
    }
    .navigation{
        display: none;
    }
    .header-inner{
        justify-content: space-around;
    }
    .logo img{
        display: none;
    }
    .logo svg{
        display: block;
    }
    .Grid{
        margin-left: -55px;
        font-size: 32px;
    }
    .button{
        width: 128px;
        border-radius: 13px;
        font-size: 18px;
    }
    .main_tittle{
        width: 310px;
        font-size: 64px;
        line-height: 70px;
        font-weight: 900;
    }
    .cool, .images{
        font-size: 48px;
    }
    .main_tittle_bottom{
        font-size: 24px;
        width: 330px;
        line-height: 30px;
    }
    .main{
        background-image: 
        url('../images/main_dots.png'),
        url('../images/wave\ 360px.png'),
        url('../images/main-bg.png');
        background-position: right top, top, left 145px bottom 120px;
    }
    .main_icon{
        display: block;
        text-align: center;
        margin:35px;
    }
    .main_text_right, .main_text_div, .main_text_left{
        display: none;
    }
    .main_button{
        width: 131px;
        height: 37px;
        font-size: 18px;
        position: absolute;
        right: 101px;
    }
    .history_tittle{
        font-size: 24px;
    }
    .small_car{
        display: none;
    }
    .since1954{
        color: #6C5CE7;
    }
    .history_tittle_bottom_span{
        display: none;
    }
    .history_items{
        display: none;
    }
    .history_items_small{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .history_item_small{
        width: 130px;
    }
    .item_tittle{
        margin: 10px 0;
        font-size: 18px;
        line-height: 1px;
        margin: 20px 0;
    }
    .item_text{
        font-size: 13px;
        line-height: 25px;
    }
    .item_button{
        width: 109px;
        padding: 6px 11px;
        border-radius: 8px;
        margin-top: 10px;
        font-size: 13px;
        font-weight: bold;
    }
    .afford{
        display: none;
    }
    .pricing{
        font-size: 32px;
    }
    .price{
        padding: 0;
    }
    .price_tittle{
        font-size: 32px;
        line-height: 10px;
        text-align: start;
        font-weight: 700;
    }
    .price_tittle::first-letter{
        text-transform: uppercase;
    }
    .price_text{
        display: block;
        font-size: 24px;
        text-align: start;
        line-height: 5px;
        font-weight: 400;
    }
    .price_list{
        flex-wrap: wrap;
        margin: 0;
    }
    .price_small{
        margin: 10px 0;
        color: #2D3436;
    }
    .price_item_tittle{
        font-size: 32px;
        color: #6C5CE7;
    }
    .price_benefit_img_big{
        display: none;
    }
    .price_benefit_img_small{
        display: block;
        width: 24px;
        height: 24px;
    }
    .price_benefit{
        font-size: 14px;
    }
    .price_item{
        margin: 5px;
        padding: 10px;
        box-shadow: none;
        border: 0;
    }
    .price_button{
        font-size: 18px;
        line-height: 18px;
        width: 270px;
    }
    .bottom{
        display: none;
    }
    .footer{
        display: block;
    }
}





