body {
    font-family: 'Inter';
    font-style: normal;
    font-size: 18px;
    line-height: 32px;
    color: #2D3436;
}

a {
    text-decoration: none;
    color: inherit;
}

.wrapper{
    width: 1200px;
    margin: 0 auto;
}
.header{
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.6);
}
.logo{
    margin: 0;
}
.Grid{
    font-size: 48px;
    text-decoration: none;
    margin-left: -120px;
    font-weight: 700;
}
.navigation{
    display: flex;
    justify-content: space-between;
}
.navigation li{
    margin-left: 20px;
    color: #6C5CE7;
    font-size: 18px;
}
.navigation li::after{
    content: '•';
    color:#FDCB6E;
    margin-left: 20px;
}
.navigation li:last-child:after{
    content: '';
    display:none;
}

.navigation a:hover{
    box-shadow: 0px 22px 37px -1px rgba(108,92,231,0.58);
}
.header-inner{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 15px;
}
.logo{
    display: flex;
    align-items: center;
}

.button{
    background-color: #5D5FEF;
    font-size: 24px;
    line-height: 30px;
    color: white;
    border-radius: 30px;
    padding: 8px 16px;
    width: 170px;
    box-sizing: border-box;
    font-weight: bold;
    text-align: center;
    text-decoration-line: none;
    letter-spacing: 2px;
}

.button:hover, .main_button:hover{
    color: #6C5CE7;
    background-color: #FFFFFF;
    border: 1px solid #6C5CE7;
}

.logo svg{
    display: none;
}

.main{
    background-image: url('../images/main-bg.png');
    background-repeat: no-repeat;
    background-position:center bottom;
}
.container{
    width: 1170px;
    margin: 0 auto; 
    padding: 30px 0;
}

.main_inner{
    padding: 90px 0;
    position: relative;
}
.main_tittle, .images {
    text-align: center;
    font-size: 96px;
    font-weight: 800;
    line-height: 104px;
    text-shadow: 0px 4px 0px #FFFFFF;
    letter-spacing: -3px;
}

.cool{
    color: #D63031;
}

.main_tittle_bottom{
    text-align: center;
    width: 755px;
    font-size: 64px;
    font-weight: 900;
    letter-spacing: -1px;
    margin: 0 auto;
    line-height: 77px;
}

.main_icon{
    display: none;
}

.main_text_left{
    width: 270px;
    padding-bottom: 90px;
}

.main_text_div{
    width: 408px;
    height: 191px;
    box-sizing: border-box;
    background-color: #55EFC4;
    border-radius: 100px;
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 55px 30px;
}

.main_text_right{
    width: 363px;
    font-size: 22px;
}

.main_button{
    width: 270px;
    height: 82px;
    background-color: #6C5CE7;
    color: #FFFFFF;
    border-radius: 100px;
    font-size: 32px;
    font-weight: bold;
    padding: 8px 16px;
    border: 0;
    margin-left: 30px;
}

.history_item{
    width: 270px;
}

.history_items_small{
    display: none;
}
.history_item_small{
    width: 150px;
    height: 273px;
}
.small_item_1{
    background-color: #FF7675;
    border-radius: 10px;
}
.small_item_2{
    background-color: #00B894;
    border-radius: 10px;
}
.small_item_3{
    background-color: #E84393;
    border-radius: 10px;
}
.small_item_4{
    background-color: #74B9FF;
    border-radius: 10px;
}
.history_tittle{
    padding: 80px 0 15px 0;
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
}

.history_tittle_bottom{
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    margin-bottom: 40px;
}
.history_items{
    display: flex;
    justify-content: space-between;
}

.history_container{
    margin: 0 auto;
    width: 1170px;
}
.history_item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.history_img{
    width: 60px;
    height: 60px;
}

.item_tittle{
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    margin: 24px 0 16px 0;
    font-weight: bold;
}

.item_button{
    background-color: #FFFFFF;
    color: #6C5CE7;
    border: 1px solid #ADADAD;
    width: 146px;
    padding: 8px 0 16px 0;
    border-radius: 15px;
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    box-sizing: border-box;
}

.item_button:hover{
    background-color: #6C5CE7;
    color: #FFFFFF;
}

.price{
    padding: 140px 0 80px 0;
}

.price_tittle{
    text-align: center;
    font-size: 64px;
    font-weight: 900;
    line-height: 77px;
}

.price_text{
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    color: #ADADAD;
    margin: 40px 0;
}

.price_benefits{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.price_benefit{
    display: flex;
    padding: 15px 0;
}

.price_small{
    color: #6C5CE7;
    margin: 20px 0;
    font-weight: 700;
}

.price_item{
    display: flex;
    flex-direction: column;
    margin: 30px;
    width: 370px;
    padding: 30px;
    justify-content: space-between;
}
.price_item:hover{
    background: #FFFFFF;
    border-radius: 16px;
    cursor: pointer;
    box-shadow: 0px 5px 7px rgba(83, 83, 83, 0.267)
}

.price_item_tittle{
    font-weight: 900;
    font-size: 48px;
    padding-bottom: 20px;
}

.price_tittle_small{
    font-weight: bold;
    font-size: 18px;
}

.price_list{
    display: flex;
    justify-content: space-between;
}

.benefit_text{
    margin-left: 15px;
}
.price_benefit_img_small{
    display: none;
}

.price_button{
    background-color: #FFFFFF;
    color: #6C5CE7;
    border: 1px solid #ADADAD;
    border-radius: 15px;
    width: 306px;
    font-size: 24px;
    font-weight: bold;
    line-height: 35px;
    padding: 16px 8px;
}

.price_button:hover{
    background-color: #6C5CE7;
    color: #FFFFFF;
    font-size: 26px;
    letter-spacing: 1s;
}

.bottom{
    background-image: url(../images/Wave.png);
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 526px;
}
.bottom_content{
    display: flex;
    justify-content: space-between;
}

.bottom_right{
    width: 50%;
}

.bottom_left{
    width: 45%;
}

.bottom_info{
    display: flex;
    justify-content: space-between;
}

.bottom_tittle, .bottom_two_tittle{
    color: #ADADAD;
    font-size: 20px;
    padding-bottom:8px ;
    letter-spacing: 2px;
}

.bottom_logos{
    display: flex;
    justify-content: space-between;
    width: 270px;
    padding-bottom: 40px;
}

.bottom_logo_img:hover{
    background-color: #FFEAA7;
    border-radius: 15px;
}

.bottom_info_item{
    margin-top: 16px;
}
.bottom_info_link:hover{
    text-decoration: underline;
}

textarea{
    resize: none;
    background-color: #DCDCDC;
    border: 1px solid #cec8fa8f;
    border-radius: 15px;
}

.bottom_email{
    color: #6C5CE7;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 50px;
}

.person_info input{
    background-color: #DCDCDC;
    width: 270px;
    border-radius: 15px;
    border: 0;
    padding: 8px;
    margin-bottom: 20px;
    line-height: 3;
    font-weight: 400;
}

.message{
    display: flex;
    justify-content: space-between;
}

.massege_text{
    font-size: 24px;
}

.submit{
    background-color: #6C5CE7;
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 700;
    padding: 16px;
    width: 170px;
    border:0;
    border-radius: 20px;
}
.footer{
    display: none;
}
.footer_logos{
    display: flex;
    justify-content: space-around;
    margin-top: 25px;
}
.footer_tittle{
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    line-height: 20px;
    margin: 10px;
}
.footer_tittle_small{
    color: #00B894;
    font-size: 12px;
    text-align: center;
    font-weight: 400;
    line-height: 20px;
    margin: 10px;
}
.footer_email{
    font-size: 18px;
    color: #6C5CE7;
    font-weight: 700;
    letter-spacing: 1px;
    text-align: center;
    margin: 10px;
}
.container_footer{
    background-image: 
    url('../images/footer_bg_small.png'),
    url('../images/footer_dots.png');
    background-repeat: no-repeat;
    background-position: left bottom;
}




