@import 'variables.scss';
body{
    font-family: $main-font-family;
    font-size: $font-size-subtittle;
    color: $main-color-text;
}

a{
    text-decoration: none;
    color:$main-color-text;
}

.header{
    display: flex;
    justify-content: space-around;
    margin: 15px;

    .header__navigation{
        margin-top: 20px;
       &::before{
           content: '';
           background-image: url('../imgs/Vector__header.png');
           width: 9px;
           height: 6px;
           position: absolute;
           right: 52%;
           top: 2%;
       }
            ul{
                display: flex;
            }
                li{
                    margin-left: 45px;
                }
    }
}
button{
        color: #fff;
        background-color:#3751FF;
        padding: 8px 16px;
        border: 0;
        border-radius: 100px;

}

.header__connecting{
    
    .header__connecting__tel{
        color:$main-color-text;
        background-color:#fff;
    }
}
       

.container {
    width: 1195px;
    margin: 0 auto;
    text-align: center;
}

.main {
    background:linear-gradient(180deg, rgba(242, 249, 255, 0.12) 0%, #F2F9FF 100%);
    margin-bottom: 106px;
    height: 878px;
}

.tittle {
    font-size: 48px;
    line-height: 58.8px;
    font-weight: bold;
    text-align: center;
}

.main__tittle {
    padding: 130px 0 27px 0;
}

.subtittle {
    color: $subtittle-color;
    line-height: 27px;
    text-align: center;
}

.main__subtittle {
    margin-bottom: 30px;
}

.main__button__left {
    padding: 13px;
    width: 112px;
}
.main__button__right {
    line-height: 1.5;
    padding: 13px 27px;
    background-color: #fff;
    color: $subtittle-color;
    margin-left: 15px;
}
.history__logos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;

    .history__logo__item {
        margin:0 36px;

        &:first-child{
            margin: 0;
        }
    }
}
.history__tittle {
    margin-top: 169px;
}
.history__content {
    display: flex;
    justify-content: space-around;
}
.history__images {
    width: 60%;
}
.history__images__item--top {
    border: 1px solid black;
    width: 409px;
    margin-top: -120px;
    margin-left: 205px;
    background-image:
        url('../imgs/back__girl.png'),
        url('../imgs/back\ aqua.png');
    background-position:bottom right 50px, bottom 120px right 30px;
    background-repeat: no-repeat;
}

.history__images__item--middle {
    background-image: url('../imgs/yellow\ back.png');
    width: 266px;
    position: relative;
    z-index: 4;
    top: -70px;
    left: 35px;
}

.history__images__item--bottom {
    position: relative;
    z-index: 5;
    top: -110px;
    left: 75px;
}
.history__info {
    width: 40%;
    height: 640px;
    padding: 110px;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}
.history__info__item {
    display: flex;
    justify-content: space-between;

    &::after{
        content: '';

    }
}
.history__info__item__tittle {
}
.history__info__item__text {
}
.container-design {
    background-image: url('../imgs/Background\ slide_3.png');
    background-color: #FFF9EA;
    height: 1001px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
}
.design__tittle {
    padding: 139px 0 40px 0;
}
.design__subtittle {
    margin-bottom: 40px;
    line-height: 19px;
}
.design__button {
    position: relative;
    right: 50%;
    left: 50%;
}
.comments {
    padding: 230
px
 210
px
 150
px
 210
px

}
.comments__tittle {
}
.comments__list {
}
.comments__list__item {
}
.comments__list__item__text {
}
.comments__list__item__name {
}
.comments__list__item__info {
}
.subcontainer {
}
.subcontainer__text {
}
.subcontainer__button {
}
.subcontainer__button__text {
}
.footer {
}
.footer__text {
}
.footer__text__logo {
}
.footer__text__subtittle {
}
.footer__info {
}
.footer--left__text {
}
.footer--right {
}
.footer--right__text {
}