body{
    font-family: 'Mukta', sans-serif;
    font-size: 16px;
    background-color: #eee;
}

a{
    text-decoration: none;
    color: black;
}

#header {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100px;
    padding: 0 30px;
    align-items: center;

    .header__logo {
        width: 70vw;

        & img{
            max-width: 26vw;
        }
    }

    #nav-bar {
        display: flex;
        justify-content: space-between;
        width: 40%;

        & ul{
            display: flex;
            list-style: none;
            justify-content: space-between;
            width: 80%;
        }
    }
}

.main__tittle{
    font-size: 32px;
    font-weight: bold;
}

.main__section{
    margin: 0 auto;
    height: 150px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.main__form{
    width: 300px;
    margin: 0 auto;

    #email{
        width: 100%;
        max-width: 250px;
        margin-bottom: 20px;
        padding: 7px;
    }
    #submit{
        background-color: #f1c40f;
        border: 0;
        width: 100%;
        max-width: 150px;
        height: 30px;
    }
    .main__button{
        text-transform: uppercase;
        font-weight: bold;
    }
}

.features{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1000px;

    .features__item{
        display: flex;
        justify-content: space-between;
        margin: 15px;

        .features__img{
            width: 80px;
        }
        .features__text{
            width: calc(100% - 140px);
            line-height: 23px;

            .features__tittle{
                font-size: 20px;
                font-weight: bold;
                margin-bottom: 15px;
            }
        }
    }
}

.pricing{
    max-width: 1000px;
    margin: 50px auto 50px auto;
    display: flex;
    justify-content: space-around;

    .pricing__item{
        border: 1px solid black;
        background-color: #eee;
        width: 275px;
        height: 27vw;
        padding: 10px;
        padding-top: 0;
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

.pricing__tittle--color{
    background-color:#ddd;
    width: 100%;
    padding:inherit;
    text-align:center;

    .pricing__tittle{
        margin-top: 10px;
        font-weight: bold;
    }
}

.pricing__price{
    font-weight: bold;
    font-size: 20px;
}

.pricing__text{
    line-height: 27px;
    text-align: center;
}

.pricing__button{
    background-color: #f1c40f;
    line-height: 27px;
    border: #f1c40f;
    padding: 8px 36px;
}