/* 
    тут приведены стили только для самого маленького экрана
    необходимо адаптировать стили под все экраны, 
    другими словами чтоб не появлялось горизантального скрола при изменении размера экрана

    эти стили не подключены к index.html!
*/

/* Responsive */
@media (max-width:360px) {
    .container {
        width: 330px;
    }

    /* header */
    .header__inner {
        
    }

    .header__logo {
        display: none;
    }

    .header__burger {
        display: block;
        margin-right: 15px;
        cursor: pointer;
    }

    .header__burger span {
        display: block;
        border: 2px solid #5C5C5C;
        width: 20px;
        border-radius: 15px;
        margin-bottom: 2px;
    }

    .header__text {
        font-size: 24px;
        line-height: 36px;
        letter-spacing: 0.25px;
        color: #5C5C5C;
    }

    .header__menu {
        display: none;
    }

    .header__btn {
        /* text */
        letter-spacing: 0.2px;

        /* element */
        background: #6C5CE7;
        box-shadow: 0px 2px 4px rgba(38, 50, 56, 0.16), 0px 4px 8px rgba(38, 50, 56, 0.08);
        border-radius: 8px;
    }

    /* main */
    .main {
        background-image: 
            url('../img/header-bg-mobile-dots.png'),
            url('../img/header-bg-mobile.png');

        background-position: right top, center -80px;
    }

    .main__inner {
        padding: 48px 0px 40px 0px;
        text-align: center;

        position: relative;
    }

    .main__title {
        font-size: 64px;
        line-height: 77px;
    }

    .main__title-word,
    .main__title-word-end {
        font-size: 48px;
        line-height: 56px;
    }

    .main__title-word {
        text-transform: capitalize;

        position: relative;
        z-index: 0;
    }

    .main__title-word::after {
        content: "";
        position: absolute;

        width: 120px;
        height: 32px;
        background-color: #55EFC4;
        border-radius: 40px;
        left: -10px;
        bottom: -8px;
        z-index: -1;
    }

    .main__title-bottom {
        font-weight: bold;
        font-size: 24px;
        line-height: 36px;
        letter-spacing: 0.25px;
        color: #2D3436;
        width: inherit;

        margin-bottom: 100px;
    }

    .main__btn-arrow {
        display: block;

        position: absolute;
        bottom:  115px;
        left: 150px;
    }

    .main__btn-arrow-img {
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.24);
        transition: all .3s;
    }

    .main__btn-arrow-img:hover {
        background-color: rgba(59, 59, 59, 0.11);
    }

    .main__text-left,
    .main__text-bg {
        display: none;
    }

    .main__btn {
        width: 130px;
        height: 37px;

        font-size: 14px;
        line-height: 24px;
        margin: 0;
    }


    /* HISTORY */
    .footer__inner-mobile {
        display: none;
    }

    .history__inner {
        padding: 40px 0px 20px 0px;
    }

    .history__inner-title {
        font-size: 24px;
        line-height: 36px;
        letter-spacing: 0.25px;
    }

    .title__since {
        color: #6C5CE7
    }

    .title__car {
        display: none;
    }

    .history__inner-text {
        font-size: 18px;
        line-height: 32px;
    }

    .history__inner-items {
        flex-wrap: wrap;
    }

    .history__inner-item {
        width: 150px;
        margin-bottom: 40px;
    }

    .item__img {
        margin-bottom: 15px;
    }

    .item__title {
        font-size: 18px;
        line-height: 27px;
        letter-spacing: 0.1875px;
        margin-bottom: 10px;
    }

    .item__text {
        font-size: 13.5px;
        line-height: 24px;
        color: #5C5C5C;
        margin-bottom: 5px;
    }

    .item__btn {
        width: 110px;
        height: 36px;
    }


    /* PRICE */
    .price__inner {
        padding: 40px 0;
        text-align: left;
    }

    .price__title {
        width: auto;
        font-weight: bold;
        font-size: 32px;
        line-height: 48px;
        letter-spacing: -0.5px;
        color: #2D3436;
    }

    .price__title--desktop {
        display: none;
    }

    .price__title--mobile {
        display: block;
    }

    .price__pay {
        margin-bottom: 30px;
    }

    .price__pay,
    .price__btn-month,
    .price__btn-year {
        justify-content: flex-start;
        font-size: 24px;
        line-height: 36px;
        letter-spacing: -0.25px;
        color: #ADADAD;
    }

    .price__btn-month:hover::after,
    .price__btn-year:hover::after {
        content: "";
        position: absolute;

        width: 100px;
        height: 12px;
        left: calc(50% - 100px/2);
        bottom: 0;
        border-radius: 10px;
        z-index: -1;

        background-color: #FDCB6E;
    }

    .price__btn-year:hover::after {
        width: 76px;
        left: calc(50% - 76px/2);
    }

    .price__list {
        flex-direction: column;
        justify-content: none;
    }

    .price__list-item {
        width: 330px;
        background: #FFFFFF;
        border-radius: 16px;
        cursor: pointer;
        box-shadow: 0px 5px 7px rgba(83, 83, 83, 0.267);
        margin-bottom: 20px;
    }

    .price__item--fine {
        position: relative;
    }

    .price__item--fine::after {
        content: "Fine";
        position: absolute;
        text-align: center;

        width: 90px;
        height: 32px;
        border: 1px solid #858585;
        border-radius: 16px;
        top: 0;
        right: 0;

        font-weight: 800;
        font-size: 12px;
        letter-spacing: 2.5px;
        text-transform: uppercase;
        color: #2D3436;
    }

    .price__list-item:hover {
        background: #6C5CE7;
    }

    .price__list-item:hover .price__item-small-title {
        color: #55EFC4;
    }

    .price__list-item:hover .price__item-title {
        color: #FFFFFF;
        text-shadow: 0px 4px 0px #000000;
    }

    .price__list-item:hover .item-small-title {
        color: #FFFFFF;
        text-shadow: 0px 4px 0px #000000;
    }

    .price__list-item:hover .price__benefits {
        color: #FFFFFF;
    }

    .price__list-item:hover .price__item-btn {
        background-color: #FFFFFF;
        color: #2D3436;
    }

    .price__list-item:hover .price__item--fine::after {
        border: 1px solid #55EFC4;
        color: #55EFC4;
    }

    .price__item-small-title {
        font-size: 18px;
        line-height: 32px;
        letter-spacing: 0.2px;
        color: #2D3436;
    }

    .price__item-title {
        font-weight: bold;
        font-size: 24px;
        line-height: 36px;
        letter-spacing: 0.25px;
        color: #6C5CE7;
        text-shadow: 0px 4px 0px #FFFFFF;
    }

    .item-small-title {
        color: #6C5CE7;
    }

    .price__benefit-text {
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
    }

    
    /* FOOTER */
    .footer__inner {
        display: none;
    }

    .footer__inner-mobile {
        display: block;

        padding: 40px 0;
        text-align: center;
    }

    .inner-mobile__copyright {
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.2px;
        color: #2D3436;
    }

    .inner-mobile__agency {
        font-size: 12px;
        line-height: 22px;
        letter-spacing: 0.3px;
        color: #00B894;
    }

    .inner-mobile__email {
        display: block;
        font-weight: bold;
        font-size: 18px;
        line-height: 32px;
        letter-spacing: 0.2px;
        color: #6C5CE7;

        margin-bottom: 25px;
    }

    .inner-mobile__list {
        display: flex;
        justify-content: space-between;
    }
}