

li {
    color: gold;
    font-family: 'Italianno', cursive;
    font-family: 'Caveat', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'Italianno', cursive;
font-family: 'Neucha', cursive;
}

h3 {
    color: gold;
    font-family: 'Caveat', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'Italianno', cursive;
font-family: 'Neucha', cursive;
}

p {
    color: palegreen;
    font-family: 'Caveat', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'Italianno', cursive;
font-family: 'Neucha', cursive;

}

.qweqweqwe {
    color: royalblue;
    font-size: 32px;
    font-family: 'Dancing Script', cursive;
}
a {
    color:gold;
    font-size: 32px;
    font-family: 'Dancing Script', cursive;
    font-family: 'Caveat', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'Italianno', cursive;
}