h1
{
    text-align: center;
    color:white;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,38,121,0.6320903361344538) 77%, rgba(0,212,255,1) 100%);
    font-family: 'Amatic SC', cursive;
    font-family: 'Caveat', cursive;
    font-size: 50px;
   

}
h3
{
    text-align: center;
    color: black;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(46,121,9,0.6320903361344538) 21%, rgba(0,212,255,1) 100%);
    font-size: 30px;
    font-family: 'Source Code Pro', monospace;
    font-family: 'Zen Kurenaido', sans-serif;

}
div
{ 

    margin: 40px;
    font-family: 'Source Code Pro', monospace;
    font-family: 'Zen Kurenaido', sans-serif;
    font-size: 20px;

}
 
li
{
    text-align: center;
    list-style-position: inside;
    font-family: 'Source Code Pro', monospace;
    font-family: 'Zen Kurenaido', sans-serif;
    font-size: 20px;
    }

p
{
    text-align: center;
    margin: 50px;
    font-family: 'Varela Round', sans-serif;
    font-size: 20px;

}