body{
    color: #1B0A42;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}
a{
    text-decoration: none;
    color: #1B0A42;
    font-size: 16px;
    line-height: 24px;
}

.container{
    margin: 0 auto;
    padding: 40px 80px;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1330px;
    margin: 0 auto;
}
.header__right__navigation{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header__right__navigation li{
    margin: 20px;
}
.header__left{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 500px;
}
.header__right__button--white{
    color: #4F56F1;
    background-color: #ffff;
    border-radius: 6px;
    width: 152px;
    border: 0;
    font-size: 16px;
    padding: 18px 30px;
}
.header__right__button--blue{
    color: #ffff;
    background-color: #4F56F1;
    border-radius: 6px;
    width: 152px;
    border: 0;
    font-size: 16px;
    padding: 18px 30px;
}

.main{
    display: flex;
    justify-content: space-between;
    width: 1330px;
    margin-top: 100px;
    margin: 100px auto 0 auto;
}

.main__content{
    width: 40%;
    margin-top: 10%;
}

.main__tittle{
    font-family: 'Ramaraja', serif;
    font-size: 72px;
    margin: 10px;
}

.main__tittle--small{
    font-size: 16px;
    color: #9A9A9A;
    line-height: 23px;
    letter-spacing: 3px;
    margin: 10px;
}

.main__button{
    margin-top: 70px;
    color: #ffff;
    background-color: #4F56F1;
    border-radius: 6px;
    width: 152px;
    border: 0;
    font-size: 16px;
    padding: 18px 30px;
}

