body{
    font-family:'Work Sans', sans-serif;
    color:#1D253C;
}

html {
    scroll-snap-type: y mandatory;
  }
   
a{
    text-decoration: none;
    color: #1D253C;
}

button{
    background-color: #F46752;
    border: #F46752;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    line-height: 22px;
}

.container{
    max-width: 1100px;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

.main__container{
    max-width: 100%;
    height: 100vh;
}

.wraper{
    max-width:100%;
}
nav{
    display:flex;
    justify-content:space-between;
}

header{
    width: 100%;
    display:flex;
    justify-content:space-around;
    align-items: center;
    padding: 20px;
    -webkit-box-shadow: 1px 18px 16px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 1px 18px 16px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 1px 18px 16px 0px rgba(34, 60, 80, 0.2);

    .header--left{
        display: flex;
        align-items: center;
        width: 50%;
    }

    .header__nav{

        ul{
            display: flex;
            justify-content: space-between;

            li{
                margin-left: 30px;
            }
        }
    }

    .header__buttons{
        display: flex;
        justify-content: space-between;
        max-width: 20%;

        .button__nodesign{
            background-color: #fff;
            border: 0;
            color: #1D253C;
            font-size: 16px;
        }

        .header__button{
            padding: 8px 21px;
            font-size: 14px;
            text-transform: uppercase;
            font-weight: bold;
            background-color: #fff;
            border: 1px solid rgba(29, 37, 60, 0.2);
            color: #1D253C;
            margin-left: 20px;
        }
    }
}

.container__slide-1{
    background-image: url('../imgs/main-img.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center right;
    height: 50vw;
}

.main__button{
    width: 30%;
    padding:15px;
    background-image: url('../imgs/Shape.png');
    background-position: center right 10px;
    background-repeat: no-repeat;
}

.info-box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 50%;
    padding-top: 15vw;
    padding-left: 106px;

    .top__tittle{
        color: rgba(244, 103, 82, 1);
        font-size: 18px;
        line-height: 27px;
        text-transform: uppercase;
    }

    .tittle{
        font-size: 64px;
        line-height: 68px;
        text-align: left;
        max-width: 70%;
        margin-bottom: 26px;
    }

    .subtittle{
        font-size: 22px;
        line-height: 33px;
        color: rgba(90, 100, 130, 1);
        text-align: left;
        max-width: 60%;
        margin-bottom: 40px;
    }

    .main__button{
        width: 30%;
        padding:15px;
        background-image: url('../imgs/Shape.png');
        background-position: center right 10px;
        background-repeat: no-repeat;
    }
}
.future{
    background-color: rgba(249, 245, 242, 1);
    width: 100%;
}
.future__container{
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    padding: 20vh;
    height: 80vh;

    .future__left{
        padding-top: 5vw;
        max-width: 50%;

        .future__schedule__text{
            margin-top: 20px;
            font-size: 16px;
            color: rgba(90, 100, 130, 1);
        }

        .future__left--img{
            background-color: #fff;
            padding: 30px;
        }
    }

    .future__info-box{
        padding-top: 5vw;
        max-width: 50%;
        max-height: 50%;

        .future__tittle{
            max-width: 100%;
        }

        .future__subtittle{
            max-width: 100%;
        }

        .future__button{
            background-color:rgba(249, 245, 242, 1);
            border:0;
            color:rgba(0, 113, 137, 1);
            width:30%;
            padding:20px;
            background-image:url('../imgs/Shape__blue.png');
            background-position: center right;
            background-repeat: no-repeat;
        }
    }
}

.help__container{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 20vh;
    height: 80vh;
}

.help__info-box{
    padding-top: 5vw;
    max-width: 50%;
    padding-left: 0;
    max-height: 50%;

    .help__tittle{
        max-width: 100%;
    }

    .help__subtittle{
        max-width: 100%;
    }

    .help__button{
        background-color:transparent;
        border:0;
        color:rgba(0, 113, 137, 1);
        width:30%;
        padding:20px;
        background-image:url('../imgs/Shape__blue.png');
        background-position: center right;
        background-repeat: no-repeat;
    }
}

.help__right{
    position: relative;

    .help__main-img{
        position: relative;
    }
    
    .help__frame{
        position: absolute;
        z-index: -1;
        position: absolute;
        left: -45px;
        top: -45px;
    }
    
    .help__massege{
        position: relative;
        z-index: 6;
        top: -60px;
        left: -100px;
    }
}

.benefits{
    background-color: rgba(248, 248, 248, 1);
    height: 70vh;

    .benefit__container{
        margin: 0 auto;
    }

    .benefit__top-tittle{
        color: rgba(244, 103, 82, 1);
        font-size: 18px;
        line-height: 27px;
        text-transform: uppercase;
        text-align: center;
    }

    .benefit__tittle{
        font-size: 64px;
        line-height: 68px;
        text-align: left;
        margin-bottom: 26px;
        text-align: center;
    }

    .benefit__subtittle{
        font-size: 22px;
        line-height: 33px;
        color: rgba(90, 100, 130, 1);
        text-align: left;
        margin-bottom: 40px;
        text-align: center;
    }
}

.umbrella-img{
    margin: 0 auto;
    display: block;
    position: relative;
    top: -110px;
}

.benefit__list{
    display: flex;
    justify-content: space-between;
    width: 1100px;
    margin: 40px 0 40px 0;

    .benefit__item{
        height: 320px;
        width: 310px;
        padding: 35px;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 35px;
    }
}
